*.deb
*.fai
*.pyc
*.swp
.ycm_extra_conf.py
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
Testing/
_CPack_Packages/
bin/
cmake_install.cmake
debian/*.log
debian/*.substvars
debian/control
debian/files
debian/joinx*/
debian/postinst
debian/prerm
install_manifest.txt
rbuild/
tags
version/version.h
